<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for your order!</h1>
    <p>We will be in contact with you regarding your order. Feel free to contact us if you have any questions. </p>
    <h3>Order Details:</h3>
    <p>Name: <%= @name %><p>
    <p>Products: <% @products.each do |product| %><p>
                      <p>Product Name: <%= product[:name]  %></p>
                      <p>Product Color: <%= product[:color] %></p>
                      <p>Product Size: <%= product[:size] %></p>
                      <p>Product Quantity: <%= product[:quantity] %></p>
                    <% end %>
    <p>Comments: <%= @comment %>
  </body>
</html>